config/omarchy-themes/**/backgrounds/*.jpg filter=lfs diff=lfs merge=lfs -text
config/omarchy-themes/**/backgrounds/*.jpeg filter=lfs diff=lfs merge=lfs -text
config/omarchy-themes/**/backgrounds/*.png filter=lfs diff=lfs merge=lfs -text
